<ion-app>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons  slot="start">
        <ion-button (click)="goBack()">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="background-image">
      <ion-row>
        <ion-col class="title">
          <h3>Naves</h3>
        </ion-col>
      </ion-row>
      <ion-card *ngFor="let starship of starships">
        <ion-card-header>
          <ion-card-title>{{starship.name}}</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <div class="card-films-content">
            <strong>Diametro:</strong>
            <p>{{starship.diameter}}</p>
          </div>
          <div class="card-films-content">
            <strong>Modelo:</strong>
            <p>{{starship.model}}</p>
          </div>
          <div class="card-films-content">
            <strong>Tamanho:</strong>
            <p>{{starship.length}}</p>
          </div>
          <div class="card-films-content">
            <strong>Velocidade:</strong>
            <p>{{starship.max_atmosphering_speed}}</p>
          </div>
          <div class="card-films-content">
            <strong>Passageiros:</strong>
            <p>{{starship.passengers}} passageiros</p>
          </div>
        </ion-card-content>
      </ion-card>
  </ion-content>
</ion-app>